<body>
	<p>Modest Fashion Weekend is almost here, and we’ve got exciting details about our fabulous fashion line-up. Kicking
		the weekend off from 4pm on Thursday March 7, brands including Promod, Stradivarius, Next and Topshop will take
		to the catwalk, followed by Marks &amp; Spencer, Maje, Sandro and Massimo Dutti on Friday.</p>
	<p style=\"textAlign:center\"><img class=\"media-element file-default\" typeof=\"foaf:Image\"
			src=\"https://www.graziame.com/sites/default/files/graziame/styles/full_img_sml/public/images/2019/03/04/modest-fashion-week-tile.jpg?itok=76B72NJf\"
			alt=\"\" style=\"width:100%;\" /></p>
	<p class=\"embed_caption\" style=\"textAlign:center\">Are you ready?</p>
	<p>As well as showcases from some of our favourite brands, Friday’s activities will include a make-up masterclass
		with celebrity make-up artist <a href=\"https://www.instagram.com/sorayashawky/?hl=en\" rel=\"nofollow\">Soraya
			Shawky</a> and TV presenter <a href=\"https://www.instagram.com/maysanber/?hl=en\" rel=\"nofollow\">Mays
			Anber</a> at 5pm. House of Fraser, Aspinal of London and more will be showcasing their collections on
		Saturday to round off the weekend (as if we didn’t spoil you enough), before <em>Grazia’</em>s Editor in Chief
		Alison Tay takes to the stage for an International Women’s Day panel discussion alongside <a
			href=\"https://www.instagram.com/dimaayad/\" rel=\"nofollow\">Dima Ayad</a>, <em>Grazia</em>’s advocate for
		body positivity, and <a href=\"https://www.instagram.com/naylaalkhaja/\" rel=\"nofollow\">Nayla Al Khaja</a>,
		<em>Grazia</em> Girl Gang ambassador for film. You won’t want to miss this conversation with the <em>Grazia</em>
		Girl Gang (they’re pretty great, if you ask us), as they’ll be discussing blazing a trail and facing fears - so
		make sure to tear yourself away from the henna artist by 5.30pm.</p>
	<p style=\"textAlign:center\"><img class=\"media-element file-default\" typeof=\"foaf:Image\"
			src=\"https://www.graziame.com/sites/default/files/graziame/styles/full_img_sml/public/images/2019/03/04/15458400.jpg?itok=4ZO7lH-3\"
			alt=\"\" style=\"width:100%;\" /></p>
	<p class=\"embed_caption\" style=\"textAlign:center\"><a href=\"https://www.marksandspencer.com/ae/\"
			rel=\"nofollow\">Marks &amp; Spencer</a> is just one of the brands joining us for Modest Fashion Weekend</p>
	<p>We’re sure you don’t need reminding, but don’t forget to visit the pop-up shops between shows! Phew, we think
		it’s time for a lie down.</p>
	<ul>
		<li><em>7-9 March, 10am-12am. Yas Mall Abu Dhabi.</em></li>
	</ul>
	<p><em>Photos: Supplied</em></p>
</body>